{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container contiabo pt-4 pb-4 px-4">

        <h3 class='text-center mb-3'><strong>About Kidney Disease</strong></h3>
        <br>

        <h5><strong>What is Chronic kidney disease ?</strong></h5> 
        Chronic kidney disease (CKD) is a condition where the kidneys are damaged and cannot filter blood properly, your kidneys filter wastes and excess fluids from your blood, which are then removed in your urine.<br> Advanced chronic kidney disease can cause dangerous levels of fluid, electrolytes and wastes to build up in your body.<br>
        <br>
        <h5><strong>What causes Chronic kidney disease ?</strong></h5>
        <ul>
            <li>High blood pressure: High blood pressure can damage the small blood vessels in the kidneys, reducing their ability to filter blood properly.</li>
            <li>Diabetes: Diabetes is a major cause of Chronic kidney disease. High blood sugar levels can damage the kidneys over time.</li>
            <li>Urinary tract obstruction: Conditions that block the flow of urine, such as kidney stones or an enlarged prostate, can lead to Chronic kidney disease.</li>
            <li>Polycystic kidney disease: A genetic disorder characterized by the growth of numerous cysts in the kidneys, which can eventually lead to kidney failure.</li>
        </ul>
        <br>
        <h5><strong>What are the symptoms of Chronic kidney disease ?</strong></h5>
        Signs and symptoms of chronic kidney disease develop over time if kidney damage progresses slowly. Loss of kidney function can cause a buildup of fluid or body waste or electrolyte problems. Depending on how severe it is, loss of kidney function can cause: <br>
        Nausea, Vomiting, Loss of appetite, Fatigue and weakness, Sleep problems, Urinating more or less, Decreased mental sharpness, Muscle cramps, Swelling of feet and ankles, Dry & itchy skin, High blood pressure.<br><br>
        <img class=' heart1 mb-3'src="{{url_for('static', filename='ckdsym.jpg')}}" alt="" />
        Signs and symptoms of kidney disease are often nonspecific. This means they can also be caused by other illnesses.
        <br>
        <br>
        <h5><strong>What are the risk factors for kidney disease?</strong></h5>
        <p>Chronic kidney disease is the sixth fastest-growing cause of death globally and around 1.7 million people are estimated to die annually because of acute kidney injury globally. In India, it is estimated that a population of over 7.8 million people are living with chronic kidney diseases</p>
        <p>Several other medical conditions and lifestyle choices can also put people at a higher risk for heart disease, including</p>
        <h6>1. Diabetes</h6>
        <h6>2. Older age</h6>
        <h6>3. High blood pressure</h6>
        <h6>4. Physical inactivity</h6>
        <h6>5. Excessive alcohol use</h6>
        <h6>6. Family history of kidney disease</h6>
        <h6>7. Stress and depression</h6>
        <h6>8. Frequent use of medications that can damage the kidneys</h6>

        <br>
        <h5><strong>How to Reduce Your Risk of Developing kidney Disease</strong></h5>
        <ul>
            <li><mark>Know your blood pressure.</mark> Having uncontrolled blood pressure can lead to heart disease, stroke, kidney failure, and dementia. High blood pressure has no symptoms—so it’s important to check your blood pressure regularly and report elevated readings to your health care team.</li>
            <li>Talk to your doctor or health care team about whether you should be tested for diabetes. Having uncontrolled diabetes raises your risk of heart disease.</li>
            <li><mark> Quit smoking.</mark> If you don’t smoke, don’t start. If you do smoke, learn ways to quit.</li>
            <li>Get at least 150 minutes of physical activity each week. Even short “doses” of activity are good for your heart.</li>
            <li>Follow instructions on over-the-counter medications.</li>
            <li>maintain healthy weight by being physically active most days of the week. If you need to lose weight, talk with your doctor about strategies for healthy weight loss.</li>
        </ul>




    </div>
</div>



{% endblock %}