{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container contiabo pt-4 pb-4 px-4">

        <h3 class='text-center mb-3'><strong>About brain Disease</strong></h3>
        <br>

        <h5><strong>What is Brain Tumor disease?</strong></h5>A brain tumor is an abnormal growth of cells in or around the brain. Tumors can be benign (non-cancerous) or malignant (cancerous). They can originate in the brain (primary brain tumors) or spread to the brain from other parts of the body (secondary or metastatic brain tumors).<br>
        <br>
        <h5><strong>What causes Brain Tumor?</strong></h5>
        Brain tumors can develop for various reasons, and the exact cause is often unknown. However, researchers have identified several factors that may contribute to their development are Genetics, exposure to Radiation, age, environmental Factors, viral infections, etc. It's important to note that while these factors may increase the risk of developing brain tumors, most people with these risk factors do not develop brain tumors, and many individuals diagnosed with brain tumors do not have any known risk factors.
        <br><br>
        <h5><strong>What are the symptoms of brain tumor?</strong></h5>
        Symptoms of brain tumors vary depending on the tumor's size, type, and location. Common symptoms include:
        <p>
        <h6>1. Headaches, often more severe in the morning</h6>
        <h6>2. Seizures</h6>
        <h6>3. Changes in personality or behavior</h6>
        <h6>4. Nausea and vomiting</h6>
        <h6>5. Vision or hearing problems</h6>
        <h6>6. Difficulty with balance or coordination</h6>
        </p>
        
        <img class=' heart1 mb-3'src="{{url_for('static', filename='brainsym.jpg')}}" alt="" />
      
        <h5><strong>What are the risks for Brain Tumor?</strong></h5>
        <p>Brain tumors can pose various risks, depending on their type, size, location, and rate of growth. Some of the risks associated with brain tumors include:</p>
        <h6>1. Neurological Symptoms</h6>
        <h6>2. Increased Intracranial Pressure (ICP)</h6>
        <h6>3. Brain Herniation</h6>
        <h6>4. Impaired Brain Function</h6>
        <h6>5. Excessive alcohol use</h6>
        <h6>6. Seizures</h6>
        <h6>7. Side Effects of Treatment</h6>
        <br>
        <h5><strong>How to Reduce Your Risk of Developing Brain tumor</strong></h5>
        <ul>
            <P>Reducing the risk of developing a brain tumor involves adopting a healthy lifestyle and minimizing exposure to known risk factors. While not all brain tumors can be prevented, these steps may help reduce the risk:
            </P>
            <li><mark>Protecting Against Head Injury </mark>Wear helmets during activities that pose a risk of head injury, such as biking, skiing, or contact sports. Practice safe driving habits to reduce the risk of accidents.</li>
            <li>Minimize exposure to ionizing radiation, such as from excessive medical imaging tests (like CT scans) and radiation therapy, especially to the head and neck.</li>
            <li><mark> Quit smoking</mark> If you don’t smoke, don’t start. If you do smoke, learn ways to quit.</li>
            <li><mark>Maintaining a Healthy Diet</mark> Eat a balanced diet rich in fruits, vegetables, whole grains, and lean proteins. Limit processed foods, sugar, and saturated fats.</li>
            <li>Get at least 150 minutes of physical activity each week.</li>
            <li><mark>Managing Medical Conditions</mark> Certain medical conditions, such as neurofibromatosis and von Hippel-Lindau disease, are associated with an increased risk of brain tumors. Proper management of these conditions can help reduce the risk.</li>
            <li>Limit how much alcohol you drink to one drink a day.</li>
            <li><mark>Manage stress levels</mark> by finding healthy ways to cope with stress. Learn more about coping with stress.</li>
        </ul>

    </div>
</div>



{% endblock %}