{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container contiabo pt-4 pb-4 px-4">

        <h3 class='text-center mb-3'><strong>Prevent Brain Disease</strong></h3><br>
        <p>there's no guaranteed way to prevent brain tumors, as the exact causes of most brain tumors are still not fully understood. However, you can take steps to reduce your risk:</p>
        <h5>Understanding Risk Factors:</h5>
        <p>While not all risk factors are controllable, understanding them can help you make informed decisions about your health. Factors such as age, family history, and genetic conditions like neurofibromatosis or Li-Fraumeni syndrome can increase the risk of developing brain tumors.</p>
        <h5>Maintaining a Healthy Weight</h5><p>Obesity is a risk factor for various types of cancer, including brain tumors. Eating a healthy diet and staying physically active can help maintain a healthy weight and reduce the risk.</p> 
        <h5>Limiting Exposure to Cell Phone Radiation</h5><p>While the evidence is inconclusive, some studies suggest that long-term, high-level use of cell phones may be associated with an increased risk of brain tumors. To reduce exposure, use a hands-free device or speakerphone, and limit the time spent talking on the phone.</p> 
        
        <h5>Don't Smoke</h5>
        <p>Cigarette smoking greatly increases your risk for brain disease. If you don’t smoke, don’t start. If you do smoke, quitting will lower your risk for brain disease. Your doctor can suggest ways to help you quit.</p>
        <img class=' heart1 mb-3'src="{{url_for('static', filename='1693554178409.jpg')}}" alt="" />
        <br>
        <h5>Choose Healthy Diet</h5>
        <p>Choose healthy meals and snacks to help prevent brain disease and its complications. Be sure to eat plenty of fresh fruits and vegetables and fewer processed foods.</p>
        <ul>
            <li>Eating lots of foods high in saturated fat and trans fat may contribute to brain disease.</li>
            <li>Eating foods high in fiber and low in saturated fats, trans fat, and cholesterol can help prevent high cholesterol.
                Limiting salt (sodium) in your diet can also lower your blood pressure.
                Limiting sugar in your diet can lower your blood sugar level to prevent or help control diabetes.</li>
                <li>Do not drink too much alcohol, which can raise your blood pressure. Men should have no more than 2 drinks per day, and women no more than 1 drink per day.</li>
        </ul>
        <h5>imiting Alcohol and Tobacco Use</h5><p>Excessive alcohol consumption and tobacco use are associated with an increased risk of various cancers, including brain tumors. Avoiding or limiting these substances can help reduce your risk.</p> 

        <h5>Protecting Against Infectious Agents</h5><p>Some infections, such as certain types of viruses, have been linked to an increased risk of brain tumors. Practicing good hygiene and getting vaccinated against relevant infections can help reduce this risk.</p> 

        <h5>Avoiding Harmful Chemicals</h5><p>Minimize exposure to harmful chemicals, such as pesticides and industrial solvents, which may increase the risk of cancer.</p> 
        <h5>Staying Informed</h5><p>Stay informed about the latest research and recommendations related to brain tumor prevention. Discuss any concerns with your healthcare provider.</p> 


    </div>
</div>



{% endblock %}